kbd {
    font-family: 'Roboto Mono', monospace !important;
}

#login {
    max-width: 400px;
}


/*===========
    Header
===========*/

header {
    padding: 5em 2em !important;
    padding-bottom: calc(4em + 48px) !important;
    background-color: #5a5a5a;
}

header .header {
    line-height: 1.4em;
    text-shadow: 0 2px 20px rgba(0, 0, 0, 0.4) !important;
}

header .description {
    line-height: 1.1em;
    text-shadow: 0 2px 20px rgba(0, 0, 0, 0.3) !important;
}

header#welcome {
    font-size: 24px;
    height: calc(100vh + 48px);
    padding: 30vh 1em !important;
}

header#welcome .action .button {
    font-size: 12px;
    line-height: 1em;
    text-shadow: none;
}


/*==========
    NAV
==========*/

#nav {
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.14);
    margin-bottom: 35px;
    margin-top: -48px;
    background-color: rgba(0, 0, 0, 0.22);
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100vw;
}

#nav a.item {
    border-radius: 4px;
    min-width: 4.29652em;
}

#nav a.item:hover {
    background: rgba(0, 0, 0, 0.07);
}

#nav .ts.container {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: .88rem !important;
    padding-right: .88rem !important;
}

#nav .input .icon {
    color: white;
}


/*==========
    卡片
==========*/

.ts.cards a.ts.card:hover {
    transform: scale(1.02) !important;
}


/*==========
    成績
==========*/

details {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 10px;
}

details>.content {
    padding: 0.5em 1.75em 1em !important;
}

details .ts.buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

details .ts.button {
    display: flex;
    flex-direction: column;
    width: calc(100% / 5 - 1rem);
    margin-bottom: 15px !important;
    transition: box-shadow 0.25s linear;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@media (max-width: 767px) {
    details .ts.button {
        width: calc(100% / 2 - 1rem);
    }
}

details .ts.button.spring {
    box-shadow: 0 0 3px #9173ff;
}

details .ts.button:not(.spring) {
    border-color: #d2d2d2 !important;
    background-color: #d2d2d2 !important;
}

details .ts.button:not(.spring):hover {
    border-color: #bcbcbc !important;
    background-color: #bcbcbc !important;
}

details .ts.button:not(.spring):active {
    border-color: #a4a4a4 !important;
    background-color: #a4a4a4 !important;
}

details .ts.button.spring i:before {
    content: "\f058";
}

details .ts.button:not(.spring) i:before {
    content: "\f10c";
}

#score tr:nth-child(1)>td {
    background: #f7f7f7;
    font-weight: 500;
    color: #404040;
    font-size: 1em;
}

#score tr:nth-child(1n+2) td:nth-child(1n+2) {
    font-family: 'Roboto Mono', monospace !important;
}

#score td {
    white-space: nowrap;
}

.gs.scroll {
    overflow: auto;
    overflow-y: hidden;
    max-width: 100vw;
    border: 1px solid #e9e9e9;
    border-radius: .28571rem;
    box-shadow: 0 5px 10px 1px rgba(167, 167, 167, 0.2);
}

.gs.scroll.non-style {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    border: 0px solid #e9e9e9;
}

.gs.scroll>table {
    min-width: 100%;
    border: 0px solid #e9e9e9;
}

.gs.scroll .ts.buttons .button {
    white-space: nowrap;
}


/*卷軸*/

.gs.scroll.gs.scroll::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

.gs.scroll::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    background-color: #F5F5F5;
}

.gs.scroll::-webkit-scrollbar-thumb {
    background-color: #73b9ff;
    border-radius: 3px;
}

.gs.scroll::-webkit-scrollbar-thumb:hover {
    background-color: #65a3e0;
}

.gs.scroll::-webkit-scrollbar-thumb:active {
    background-color: #4b7baa;
}


/*==========
    Footer
==========*/

footer p {
    color: white;
    text-shadow: 0 2px 20px rgba(0, 0, 0, 0.3);
}

footer.ts.slate.slate.slate {
    margin-top: 12.5vh;
    box-shadow: 0 -1px 10px 1px rgba(167, 167, 167, 0.46) !important;
}

footer .grid .column:nth-child(2) {
    text-align: right;
}


/*==========
    動畫
==========*/

.fadeIn {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: fadeIn;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}