footer.ts.fluid.slate
    .image
        script headerImg()
    .ts.container
        .ts.grid
            .stretched.column
                img.ts.tiny.image(src='https://avatars2.githubusercontent.com/u/35896048?s=320')
            .column
                p TWScore 2018 ( ･ิϖ･ิ)
                a.ts.compact.basic.inverted.button(href='https://github.com/TWScore/Swore') GitHub