footer.ts.container
    .ts.section.divider
    p 
        img.ts.tiny.image(src='https://avatars2.githubusercontent.com/u/35896048?s=160')
    p
        a(href='https://github.com/TWScore/Swore') TWScore
        |  貳零壹捌 OwO
br