doctype html
html
    head
        title Swore
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(href='//cdnjs.cloudflare.com/ajax/libs/tocas-ui/2.3.3/tocas.css',rel='stylesheet')
        link(href='//xiaoan.tocas-ui.com/ts.xiaoan.min.css',rel='stylesheet')
        link(href='//fonts.googleapis.com/css?family=Roboto+Mono',rel='stylesheet')
        link(href='./css/style.css?'+ Math.floor(Math.random() * 102400),rel='stylesheet')
        link(href='./css/ripple.min.css',rel='stylesheet')
        link(href='./icon/Swore.png',rel='shortcut icon')
        script(data-cfasync="true",src='https://unpkg.com/sweetalert/dist/sweetalert.min.js')
        script(data-cfasync="true",src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
        script(data-cfasync="true",src="//cdnjs.cloudflare.com/ajax/libs/trianglify/1.2.0/trianglify.min.js")
        script(data-cfasync="true",src="//xiaoan.tocas-ui.com/ts.xiaoan.min.js")
        script(src='./js/ripple.min.js?')
        script(src='./js/script.js?')