#nav.ts.basic.fluid.borderless.menu.horizontally.inverted.scrollable
    .ts.container
        a.item(href='index.html') 首頁
        a.item(href='score.html') 成績
        .right.fitted.item
            a.item(href='login.html') 登入