#nav.ts.basic.fluid.borderless.menu.horizontally.inverted.scrollable
    .ts.container
        a.item(href='#') 首頁
        //-.right.fitted.item
            if(user)
                a.item(href='/tlhc/score/logout') 登出
            else
                .ts.inverted.borderless.basic.right.icon.input
                    input(type='text', placeholder='搜尋',id='search')
                    i.search.link.icon(onclick="search()")