include _header.pug
body
    header#welcome.ts.heading.vertically.padded.center.aligned.fluid.huge.slate
        .image
            script.
                var perviewImg = Trianglify({
                    width: 2560,
                    height: 2560,
                    stroke_width: 200,
                    cell_size: 100,
                });
                document.write('<img src="' + perviewImg.png() + '">');
        .ts.container
            .header 尼好
            .description 這是個能夠美觀地呈現成績資料的可愛網站
            .action 
                a.ts.button.inverted(href='#login') 登入
    include _nav.pug
    .ts.container
        h3.ts.header 一些介紹
        p blahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblah
    include _footer.pug