include _header.pug
body
    header#welcome.ts.heading.vertically.padded.center.aligned.fluid.huge.slate
        .image
            script headerImg()
        .ts.container
            .header 尼好
            .description 這是個能夠美觀地呈現成績資料的可愛網站
            .action 
                a.ts.button.inverted(href='#login') 登入
    include _nav.pug
    .ts.container
        h3.ts.header 這個網站如何運作
        p 偶們先用尼給的帳號去登入尼們學校ㄉ可愛伺服器，然後把尼的成績從尼們學校ㄉ可愛伺服器拿回來給尼看
    include _footer.pug