include _header.pug
body
    header#welcome.ts.heading.vertically.padded.center.aligned.fluid.huge.slate
        .image
            script headerImg()
        .ts.container
            .header 尼好
            .description 這是個能夠美觀地呈現成績資料的可愛網站
            .action 
                a.ts.button.inverted(href='#login') 登入
    include _nav.pug
    .ts.container
        h3.ts.header 這個網站如何運作
        p 偶們先用尼給的帳號去登入尼們學校ㄉ可愛伺服器，然後把尼的成績從尼們學校ㄉ可愛伺服器拿回來給尼看
        h3.ts.header 尼ㄇ有開源ㄇ
        p 有ㄛ，最底下有可ㄞ的連結可以去看看 ：Ｄ
        h3.ts.header 偶的資料會不會在傳輸途中被偷走
        p 偶們有加密啦，反正尼們ㄉ資料也被垃圾廠商ㄉ漏洞曝光的差不多ㄌ，ㄏㄏ
        img.ts.rounded.bordered.centered.image(src='https://i.imgur.com/UovrCW1.png')
    include _footer.pug