include _header.pug
body
    header.ts.heading.vertically.padded.fluid.slate
        .image
            script headerImg()
        .ts.container
            h1.ts.center.aligned.header Swore
    include _nav.pug
    #loader.ts.active.dimmer
        .ts.indeterminate.text.loader hen 忙
    .ts.container
        h3.ts.header 基本資料
            .sub.header 確定資料是不是你的（？
        .ts.stackable.three.cards
            mixin card(header,icon,studentInfo)
                .ts.card
                    .content
                        .header= header
                        .description(data-student=studentInfo)
                    .symbol
                        i.icon(class=icon)
            +card('學號','qrcode','studentId')
            +card('姓名','user','name')
            +card('班級','student','class')
        h3.ts.header 成績
            .sub.header 若無法看見完整內容可利用 
                kbd Shift+滾輪
                |  或是手指來移動
        #scoreSelections.ts.separated.primary.compact.buttons
            .ts.button 平均
            .ts.button 排名
            .ts.button 類組排
            .ts.button 校排
        br
        br
        .gs.scroll
            table#score.ts.definition.compact.striped.celled.table
        br
    script(src='./js/JsonToTable.js')
    script(src='./js/data.json')
    script(src='./js/score.js')
    include _footer.pug