include _header.pug
body
    header.ts.heading.vertically.padded.fluid.slate
        .image
            script.
                var perviewImg = Trianglify({
                    width: 2560,
                    height: 2560,
                    stroke_width: 200,
                    cell_size: 100,
                });
                document.write('<img src="' + perviewImg.png() + '">');
        .ts.container
            h1.ts.center.aligned.header Swore
    include _nav.pug
    .ts.container
        h3.ts.header 基本資料
            .sub.header 確定資料是不是你的（？
        .ts.stackable.three.cards
            mixin card(header,description,icon)
                .ts.card
                    .content
                        .header= header
                        .description= description
                    .symbol
                        i.icon(class=icon)
            +card('學號','548787','qrcode')
            +card('姓名','洨洨安','user')
            +card('班級','一年洨班','student')
        h3.ts.header 成績
            .sub.header 若無法看見完整內容可利用 
                kbd Shift+滾輪
                |  或是手指來移動
        .gs.scroll
            table#score.ts.definition.compact.striped.celled.table
        br
    script(src='./js/JsonToTable.js')
    script(src='./js/data.json')
    script(src='./js/score.js')
    include _footer.pug